fieldset {
  margin: auto;
  border: 10px solid black;
  width: max-content;
  padding: 20px;
}
.headline-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headline-container h1 {
  font: 3em Ramona;
  padding-inline: 0.5em 0.5em;
}
.upper-gif-container {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 3em;
}

.middle-gif-container {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  max-width: 1200px;
}
.lower-gif-container {
  padding-top: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  width: 100%;
  max-width: 1200px;
}
.gif {
  object-position: center;
  max-width: 350px;
  max-height: 450px;
  display: inline-block;
}
.gif img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.science-gif {
  transform: rotate(-10deg);
}

.beaker-gif {
  margin-left: 100px;
}

.cream-gif {
  margin-left: 150px;
  max-width: 200px;
  max-height: 300px;
}
.bottle-gif {
  margin-right: 150px;
  max-width: 250px;
  max-height: 350px;
}
