.section-about-container {
  color: white;
}

.section-about-container h1 {
  font-size: 3rem;
  margin: 20px;
}
.section-about-container h2 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
.section-about-container .about-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 3em;
  margin-top: 3em;
}
.section-about-container .text-container {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin-left: 5em;
}
.text-container .text-box {
  margin: 20px;
  padding: 20px;
  background: #00c2cb;
}
.text-container .text-box h3 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.about-pic {
  object-position: center;
  max-width: 520px;
  display: inline-block;
  margin-right: 5em;
}
.about-pic img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
